* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: rgb(35, 45, 63);
}


nav ul {
    width: 0 auto;
    height:0  auto;
    text-align: center;
    list-style-type: none;
    margin-bottom: 100px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

.img {
    border: 2px solid aqua;
    display: block;
    width: auto;
    height: auto;
    border-radius: 30px;
    margin: 0 auto;
}

.titulo {
    text-align: center;
    margin-top: 10px;
    color: aqua;
}

.squils {
    text-align: center;
    color: aqua;
}

hr {
    margin-top: 100px;
    margin-bottom: 100px;
    color: aqua;
}

.mifoto {
    border: 2px solid aqua;
    margin-top: 100px;
    display: block;
    width: auto;
    height: auto;
    border-radius: 360px;
    margin: 10%;
    margin: 0 auto ;
}

.nombre {
    width: 500px;
    height: 70px;
    text-align: center;
    margin: 0 auto;
    color: aqua;
}
.sobre-mi {
    width: 600px;
    height: 700px;
    margin: 0 auto;
    border-left: 30px;
    border-right: 30px;
    text-align: center;
    border-radius: 30px;
    border: 2px solid aqua;
    background-color: rgb(39, 40, 40);
}

.parrafo1 {
    border-top: 10px;
    color: aqua;
    
}
.pie {
    text-align: center;
    margin-top: 100px;
    color: aqua;
}